Repository thomasbergernz/treadl: changes, and which Woodpecker steps are due for each by the changed paths.
All: buildweb, buildapi, deployweb

buildweb:
  group: build
  image: node
  environment:
  - VITE_API_URL=https://api.treadl.com
  - VITE_IMAGINARY_URL=https://images.treadl.com
  - VITE_SOURCE_REPO_URL=https://git.wilw.dev/wilw/treadl
  - VITE_PATREON_URL=https://www.patreon.com/treadl
  - VITE_KOFI_URL=https://ko-fi.com/wilw88
  ...

buildapi:
  group: build
  image: woodpeckerci/plugin-docker-buildx
  secrets:
  - docker_username
  - docker_password
  settings:
    repo: wilw/treadl-api
    dockerfile: api/Dockerfile
    context: api

deployweb:
  image: alpine
  secrets:
  - LINODE_ACCESS_KEY
  - LINODE_SECRET_ACCESS_KEY
  - BUNNY_KEY
  commands:
  - cd web
  - apk update
  - apk add s3cmd curl
  ...

Improvements to onboarding screen text and reliability
  mobile/lib/onboarding.dart
Due: none

Updated login/registration views slightly, and bumped mobile versions for review.
  mobile/lib/login.dart
  mobile/lib/register.dart
  mobile/pubspec.yaml
Due: none

Fixed bug in joining an open group
  web/src/components/main/groups/Group.jsx
Due: buildweb, deployweb

Fixed bug in requesting a group join
  api/api/invitations.py
Due: buildapi

Add ability to auto-extend warp and weft
  api/bucket-policy-dev.json
  web/.yarn/install-state.gz
  web/bucket-policy.json
  web/src/components/main/projects/objects/Tools.jsx
  web/src/components/main/projects/objects/Warp.jsx
  web/src/components/main/projects/objects/Weft.jsx
  web/src/reducers/objects.js
Due: buildweb, buildapi, deployweb

Improved handling of draft width
  web/src/components/main/projects/objects/Draft.jsx
Due: buildweb, deployweb

Add account documentation
  web/public/images/docs/account1.png
  web/public/images/docs/account2.png
  web/public/images/docs/account3.png
  web/public/images/docs/account4.png
  web/public/images/docs/account5.png
  web/src/components/docs/Doc.jsx
  web/src/components/docs/account.md
  web/src/components/docs/index.jsx
Due: buildweb, deployweb

Add ability to re-generate previews
  api/api/objects.py
  api/api/projects.py
  api/api/root.py
  api/api/uploads.py
  api/util/util.py
  web/src/components/includes/NavBar.jsx
  web/src/components/main/projects/ObjectViewer.jsx
  web/src/utils/utils.js
Due: buildweb, buildapi, deployweb

Fix drawdown image export
  web/src/components/main/explore/Explore.jsx
  web/src/components/main/projects/Project.jsx
  web/src/components/main/projects/objects/DraftPreview.jsx
Due: buildweb, deployweb

Search improvements
  api/api/search.py
  web/.yarn/cache/use-debounce-npm-10.0.0-04f7df41a1-b296fedba9.zip
  web/.yarn/install-state.gz
  web/package.json
  web/src/components/includes/SearchBar.jsx
  web/yarn.lock
Due: buildweb, buildapi, deployweb

New tools view init
  web/src/components/main/projects/ObjectViewer.jsx
  web/src/components/main/projects/Project.jsx
  web/src/components/main/projects/objects/Draft.jsx
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

Tools improvements
  web/src/components/main/projects/objects/Draft.jsx
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

Sticky toolbox
  web/src/components/main/projects/objects/Draft.jsx
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

More improvements
  web/src/components/main/projects/ObjectViewer.jsx
  web/src/components/main/projects/objects/Draft.jsx
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

Update to use react router data APIs
  web/.yarn/cache/@remix-run-router-npm-1.14.1-a13db4ccdf-a3a0e7bd19.zip
  web/.yarn/cache/history-npm-5.3.0-00136b6a63-d73c35df49.zip
  web/.yarn/cache/react-router-dom-npm-6.21.1-e60eb3f846-d8ea3370ba.zip
  web/.yarn/cache/react-router-dom-npm-6.3.0-508f6547e5-77603a654f.zip
  web/.yarn/cache/react-router-npm-6.21.1-4cd474a63c-c6774cf444.zip
  web/.yarn/cache/react-router-npm-6.3.0-5ffd519487-7be673f5e7.zip
  web/.yarn/install-state.gz
  web/package.json
  web/src/components/App.jsx
  web/src/components/main/projects/objects/Draft.jsx
  web/src/components/main/projects/objects/Tools.jsx
  web/src/index.jsx
  web/yarn.lock
Due: buildweb, deployweb

Improved user-less routing
  web/src/components/Login.jsx
  web/src/components/includes/LoginNeeded.jsx
  web/src/components/includes/NavBar.jsx
  web/src/components/main/Home.jsx
  web/src/components/main/groups/New.jsx
  web/src/index.jsx
Due: buildweb, deployweb

Modal based nav prompt for unsaved drafts
  web/src/components/main/projects/objects/Draft.jsx
Due: buildweb, deployweb

Improved tools UI
  web/src/components/main/projects/objects/Tools.jsx
  web/src/reducers/objects.js
  web/src/utils/utils.js
Due: buildweb, deployweb

Add support for eraser tool
  web/src/components/main/projects/objects/Tools.jsx
  web/src/components/main/projects/objects/Warp.jsx
  web/src/components/main/projects/objects/Weft.jsx
Due: buildweb, deployweb

Controls for choosing front or back view
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

Colour layout improvements
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

Back view for warp/weft/tieups
  web/src/components/main/projects/objects/Tieups.jsx
  web/src/components/main/projects/objects/Warp.jsx
  web/src/components/main/projects/objects/Weft.jsx
Due: buildweb, deployweb

Remove canvas repositioning based on viewing back
  web/src/components/main/projects/objects/Drawdown.jsx
  web/src/components/main/projects/objects/Tieups.jsx
  web/src/components/main/projects/objects/Warp.jsx
  web/src/components/main/projects/objects/Weft.jsx
Due: buildweb, deployweb

Add support for viewing back of cloth
  web/src/components/main/projects/objects/Drawdown.jsx
Due: buildweb, deployweb

Update method for generating previews
  web/src/components/main/projects/ObjectViewer.jsx
  web/src/components/main/projects/objects/Draft.jsx
  web/src/components/main/projects/objects/DraftPreview.jsx
  web/src/components/main/projects/objects/Tools.jsx
  web/src/utils/utils.js
Due: buildweb, deployweb

Allow for downloading patterns from editor
  web/src/components/main/projects/objects/Draft.jsx
  web/src/components/main/projects/objects/DraftPreview.jsx
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

Improved UI
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

Disable draft tour
  web/src/components/main/projects/objects/Draft.jsx
Due: buildweb, deployweb

Improved project breadcrumbs
  web/src/components/main/projects/Project.jsx
Due: buildweb, deployweb

Improved mobile navigation
  web/src/components/includes/NavBar.jsx
Due: buildweb, deployweb

Remove use of Drift from code
  web/src/actions/users.js
  web/src/components/App.jsx
  web/src/components/includes/NavBar.jsx
  web/src/reducers/users.js
Due: buildweb, deployweb

Small UX enhancements
  api/api/objects.py
  web/src/components/main/projects/ObjectList.jsx
Due: buildweb, buildapi, deployweb

Remove option for download from pattern editor (for now)
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

some initial canvas work
  mobile/ios/Podfile.lock
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  mobile/lib/api.dart
  mobile/lib/groups.dart
  mobile/lib/object.dart
  mobile/pubspec.lock
Due: none

grid drawing working
  mobile/lib/object.dart
  mobile/lib/patterns/pattern.dart
  mobile/lib/patterns/tieup.dart
  mobile/lib/patterns/warp.dart
Due: none

warp weft tieup rendering
  mobile/lib/patterns/pattern.dart
  mobile/lib/patterns/tieup.dart
  mobile/lib/patterns/weft.dart
Due: none

warp colourway
  mobile/lib/patterns/pattern.dart
  mobile/lib/patterns/tieup.dart
  mobile/lib/patterns/warp.dart
Due: none

weft colourway
  mobile/lib/patterns/pattern.dart
  mobile/lib/patterns/weft.dart
Due: none

drawdown grid
  mobile/lib/patterns/drawdown.dart
  mobile/lib/patterns/pattern.dart
  mobile/lib/patterns/tieup.dart
  mobile/lib/patterns/weft.dart
Due: none

implemented drawdown
  mobile/lib/patterns/drawdown.dart
  mobile/lib/patterns/weft.dart
  mobile/lib/util.dart
Due: none

Path conditions:
  buildweb: any of: web/**/*
  buildapi: any of: api/**/*
  deployweb: any of: web/**/*
