Repository thomasbergernz/treadl: changes, and which Woodpecker steps are due for each by the changed paths.
All: buildweb, buildapi, deployweb

buildweb:
  group: build
  image: node
  environment:
  - VITE_API_URL=https://api.treadl.com
  - VITE_IMAGINARY_URL=https://images.treadl.com
  - VITE_SOURCE_REPO_URL=https://git.wilw.dev/wilw/treadl
  - VITE_PATREON_URL=https://www.patreon.com/treadl
  - VITE_KOFI_URL=https://ko-fi.com/wilw88
  ...

buildapi:
  group: build
  image: woodpeckerci/plugin-docker-buildx
  secrets:
  - docker_username
  - docker_password
  settings:
    repo: wilw/treadl-api
    dockerfile: api/Dockerfile
    context: api

deployweb:
  image: alpine
  secrets:
  - LINODE_ACCESS_KEY
  - LINODE_SECRET_ACCESS_KEY
  - BUNNY_KEY
  commands:
  - cd web
  - apk update
  - apk add s3cmd curl
  ...

use prod app values
  mobile/lib/api.dart
Due: none

Android deep linking
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/build.gradle
  mobile/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  mobile/lib/lib.dart
  web/public/.well-known/assetlinks.json
Due: buildweb, deployweb

improved mobile object loading indicator
  mobile/lib/api.dart
  mobile/lib/project.dart
Due: none

support for load more on explore
  mobile/lib/explore.dart
Due: none

use static methods for Util
  mobile/lib/api.dart
  mobile/lib/group_members.dart
  mobile/lib/lib.dart
  mobile/lib/object.dart
  mobile/lib/patterns/drawdown.dart
  mobile/lib/patterns/warp.dart
  mobile/lib/patterns/weft.dart
  mobile/lib/project.dart
  mobile/lib/user.dart
  mobile/lib/util.dart
Due: none

remove unneeded files
  mobile/lib/data_image.dart
  mobile/lib/routeArguments.dart
  mobile/lib/store.dart
Due: none

small UI updates
  mobile/lib/groups.dart
  mobile/lib/projects.dart
Due: none

final tweaks for draft release
  mobile/ios/Runner/Info.plist
  mobile/lib/api.dart
  mobile/lib/explore.dart
  mobile/lib/groups.dart
  mobile/lib/home.dart
  mobile/lib/main.dart
  mobile/lib/user.dart
  mobile/pubspec.yaml
Due: none

small UI tweaks and consistency updates for mobile
  api/api/objects.py
  api/api/search.py
  mobile/lib/explore.dart
  mobile/lib/lib.dart
  mobile/lib/welcome.dart
Due: buildapi

base code for snippet handling
  api/api/snippets.py
  api/app.py
  web/src/api/index.js
  web/src/api/snippets.js
  web/src/components/includes/SnippetSaver.jsx
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, buildapi, deployweb

more UI for snippets
  web/src/components/includes/SnippetSaver.jsx
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

allow saving snippets
  web/src/actions/objects.js
  web/src/components/includes/SnippetSaver.jsx
  web/src/components/main/projects/objects/Tools.jsx
  web/src/reducers/objects.js
Due: buildweb, deployweb

chooser basics for snippets
  api/api/snippets.py
  web/src/components/includes/SnippetChooser.jsx
  web/src/components/main/projects/objects/Tools.jsx
  web/src/components/main/projects/objects/Warp.jsx
Due: buildweb, buildapi, deployweb

full snippet support
  api/api/snippets.py
  web/src/actions/objects.js
  web/src/components/includes/SnippetChooser.jsx
  web/src/components/includes/SnippetSaver.jsx
  web/src/components/main/projects/objects/Tools.jsx
  web/src/components/main/projects/objects/Warp.jsx
  web/src/components/main/projects/objects/Weft.jsx
  web/src/reducers/objects.js
Due: buildweb, buildapi, deployweb

add snippet docs
  web/public/images/docs/snippets1.png
  web/public/images/docs/snippets2.png
  web/public/images/docs/snippets3.png
  web/public/images/docs/snippets4.png
  web/public/images/docs/snippets5.png
  web/public/images/docs/snippets6.png
  web/public/images/docs/snippets7.png
  web/src/components/docs/Doc.jsx
  web/src/components/docs/index.jsx
  web/src/components/docs/snippets.md
Due: buildweb, deployweb

fixed issue in PNG-creation
  api/util/wif.py
Due: buildapi

improve UI in changing shaft and treadle count
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

remove nova editor config
  .nova/Artwork
  .nova/Configuration.json
Due: none

add basic controls and logic for undo
  web/src/actions/objects.js
  web/src/components/main/projects/objects/Draft.jsx
  web/src/components/main/projects/objects/Tools.jsx
  web/src/reducers/objects.js
Due: buildweb, deployweb

implement redo
  web/src/components/main/projects/objects/Draft.jsx
  web/src/components/main/projects/objects/Tools.jsx
  web/src/reducers/objects.js
Due: buildweb, deployweb

fix tieup undo
  web/src/components/main/projects/objects/Draft.jsx
  web/src/components/main/projects/objects/Tieups.jsx
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

tidied up undo code
  web/src/components/main/projects/objects/Draft.jsx
  web/src/components/main/projects/objects/Tieups.jsx
  web/src/components/main/projects/objects/Tools.jsx
Due: buildweb, deployweb

Path conditions:
  buildweb: any of: web/**/*
  buildapi: any of: api/**/*
  deployweb: any of: web/**/*
