Repository thomasbergernz/treadl: changes, and which Woodpecker steps are due for each by the changed paths.
All: buildweb, buildapi, deployweb

.woodpecker.yml:

pipeline:
  buildweb:
    group: build
    image: node
    when:
      path: "web/**/*"
    environment:
      - VITE_API_URL=https://api.treadl.com
      - VITE_IMAGINARY_URL=https://images.treadl.com
      - VITE_SOURCE_REPO_URL=https://git.wilw.dev/wilw/treadl
      - VITE_PATREON_URL=https://www.patreon.com/treadl
      - VITE_KOFI_URL=https://ko-fi.com/wilw88
      - VITE_IOS_APP_URL=https://apps.apple.com/gb/app/treadl/id1525094357
      - "VITE_ANDROID_APP_URL=https://play.google.com/store/apps/details/Treadl?id=com.treadl"
      - VITE_CONTACT_EMAIL=hello@treadl.com
      - VITE_APP_NAME=Treadl
    commands:
      - cd web
      - yarn install
      - yarn build

  buildapi:
    group: build
    image: woodpeckerci/plugin-docker-buildx
    secrets: [docker_username, docker_password]
    when:
      path: "api/**/*"
    settings:
      repo: wilw/treadl-api
      dockerfile: api/Dockerfile
      context: api
      
  deployweb:
    image: alpine
    secrets: [ LINODE_ACCESS_KEY, LINODE_SECRET_ACCESS_KEY, BUNNY_KEY ]
    when:
      path: "web/**/*"
    commands:
      - cd web
      - apk update
      - apk add s3cmd curl
      - s3cmd --configure --access_key=$LINODE_ACCESS_KEY --secret_key=$LINODE_SECRET_ACCESS_KEY --host=https://eu-central-1.linodeobjects.com --host-bucket="%(bucket)s.eu-central-1.linodeobjects.com" --dump-config > /root/.s3cfg
      - s3cmd -c /root/.s3cfg sync --no-mime-magic --guess-mime-type dist/* s3://treadl.com
      - 'curl -X POST -H "AccessKey: $BUNNY_KEY" https://api.bunny.net/pullzone/782753/purgeCache'
      
branches: main

fixed drawdown colour bug
  mobile/lib/patterns/warp.dart
  mobile/lib/patterns/weft.dart
  mobile/lib/util.dart
Due: none

use a InteractiveViewer for panning a pattern
  mobile/lib/object.dart
  mobile/lib/patterns/pattern.dart
Due: none

default positioning for canvas on-load
  mobile/lib/patterns/pattern.dart
  mobile/lib/patterns/tieup.dart
  mobile/lib/patterns/warp.dart
  mobile/lib/patterns/weft.dart
Due: none

introduce interlacement view
  mobile/lib/patterns/drawdown.dart
Due: none

improvements to pattern viewer
  mobile/lib/object.dart
  mobile/lib/patterns/drawdown.dart
  mobile/lib/patterns/pattern.dart
  mobile/lib/patterns/viewer.dart
  mobile/lib/patterns/warp.dart
Due: none

add ability to share objects
  mobile/ios/Podfile.lock
  mobile/lib/api.dart
  mobile/lib/object.dart
  mobile/lib/util.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

add ability to share projects
  mobile/flutter_jank_metrics_01.json
  mobile/flutter_jank_metrics_02.json
  mobile/lib/object.dart
  mobile/lib/project.dart
  mobile/lib/util.dart
Due: none

add basic file chooser
  mobile/flutter_jank_metrics_01.json
  mobile/flutter_jank_metrics_02.json
  mobile/ios/Podfile.lock
  mobile/lib/project.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

allow for import of multiple types of files
  mobile/lib/project.dart
  mobile/lib/util.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

serverside warp drawing
  api/api/objects.py
  api/image.png
  api/poetry.lock
  api/pyproject.toml
  api/util/wif.py
  mobile/lib/object.dart
  mobile/lib/util.dart
Due: buildapi

serverside weft drawing
  api/image.png
  api/util/wif.py
Due: buildapi

serverside colourways
  api/image.png
  api/util/wif.py
Due: buildapi

complete drawdown image creation
  api/image.png
  api/util/wif.py
Due: buildapi

support for drawdown only
  api/image.png
  api/util/wif.py
Due: buildapi

code to upload images to s3
  api/api/objects.py
  api/api/uploads.py
  api/util/wif.py
Due: buildapi

generate images on creation/update
  api/api/objects.py
  api/api/projects.py
  api/image.png
  api/util/wif.py
Due: buildapi

add support for interlacement view in previews generate
  api/test.png
  api/util/wif.py
  mobile/lib/patterns/drawdown.dart
Due: buildapi

mobile improvements
  mobile/lib/project.dart
Due: none

mobile improvements
  mobile/lib/project.dart
  mobile/lib/projects.dart
Due: none

improvements for user avatar handling
  api/test.png
  mobile/lib/groups.dart
  mobile/lib/projects.dart
  mobile/lib/user.dart
  mobile/lib/util.dart
Due: buildapi

improved control over when pattern previews are generated
  api/api/objects.py
  api/api/projects.py
  web/src/components/main/projects/ObjectViewer.jsx
  web/src/components/main/projects/objects/Draft.jsx
  web/src/components/main/projects/objects/DraftPreview.jsx
  web/src/utils/utils.js
Due: buildweb, buildapi, deployweb

re-use preview URLs to save on disk space
  api/util/wif.py
Due: buildapi

fix bug with dropdown nav being overlapped
  web/src/components/includes/NavBar.jsx
Due: buildweb, deployweb

Add mobile explore tab
  mobile/lib/explore.dart
  mobile/lib/home.dart
  mobile/lib/login.dart
  mobile/lib/main.dart
  mobile/lib/projects.dart
  mobile/lib/register.dart
Due: none

explore view improvements
  api/api/search.py
  mobile/lib/explore.dart
  mobile/lib/group_noticeboard.dart
  mobile/lib/lib.dart
  mobile/lib/object.dart
  mobile/lib/project.dart
  mobile/lib/util.dart
Due: buildapi

add project discovery to explore page on mobile
  api/api/search.py
  mobile/flutter_jank_metrics_01.json
  mobile/lib/explore.dart
  mobile/lib/lib.dart
  mobile/lib/project.dart
  mobile/lib/projects.dart
  mobile/lib/util.dart
Due: buildapi

implementation of basic model
  mobile/assets/login.png
  mobile/lib/api.dart
  mobile/lib/login.dart
  mobile/lib/main.dart
  mobile/lib/model.dart
  mobile/lib/projects.dart
Due: none

support for late login
  mobile/lib/main.dart
  mobile/lib/model.dart
  mobile/lib/projects.dart
  mobile/lib/welcome.dart
Due: none

improved logout support
  mobile/lib/model.dart
  mobile/lib/settings.dart
Due: none

move project screen to use go router params
  mobile/flutter_jank_metrics_02.json
  mobile/lib/groups.dart
  mobile/lib/lib.dart
  mobile/lib/login.dart
  mobile/lib/main.dart
  mobile/lib/model.dart
  mobile/lib/onboarding.dart
  mobile/lib/project.dart
  mobile/lib/projects.dart
  mobile/lib/register.dart
  mobile/lib/welcome.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

use go router for settings page
  mobile/lib/lib.dart
  mobile/lib/main.dart
  mobile/lib/project.dart
  mobile/lib/projects.dart
  mobile/lib/settings.dart
Due: none

more robust loading of projects and groups
  api/api/objects.py
  mobile/flutter_jank_metrics_03.json
  mobile/flutter_jank_metrics_04.json
  mobile/lib/lib.dart
  mobile/lib/main.dart
  mobile/lib/object.dart
  mobile/lib/project.dart
  mobile/lib/projects.dart
Due: buildapi

go based routing for groups
  mobile/flutter_jank_metrics_01.json
  mobile/flutter_jank_metrics_02.json
  mobile/flutter_jank_metrics_03.json
  mobile/flutter_jank_metrics_04.json
  mobile/lib/group.dart
  mobile/lib/groups.dart
  mobile/lib/main.dart
  mobile/lib/object.dart
  mobile/lib/onboarding.dart
  mobile/lib/projects.dart
  mobile/lib/settings.dart
Due: none

migrated user routes to go router
  mobile/lib/group_members.dart
  mobile/lib/group_noticeboard.dart
  mobile/lib/lib.dart
  mobile/lib/main.dart
  mobile/lib/user.dart
Due: none

more useful links to users
  mobile/lib/lib.dart
Due: none

improved user profile screen
  api/api/users.py
  mobile/lib/explore.dart
  mobile/lib/lib.dart
  mobile/lib/project.dart
  mobile/lib/user.dart
Due: buildapi

ensure only valid user can edit object
  api/api/objects.py
  mobile/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  mobile/ios/Runner/Runner.entitlements
  mobile/lib/groups.dart
  mobile/lib/object.dart
  mobile/lib/project.dart
  mobile/lib/util.dart
Due: buildapi

add Apple deep link config
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
  mobile/ios/Runner/RunnerDebug.entitlements
  mobile/ios/Runner/RunnerRelease.entitlements
  web/public/.well-known/apple-app-site-association
Due: buildweb, deployweb
